<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - asp_presentacion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/asp_presentacion.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">asp_presentacion</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Enlace al Inicio -->   
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Inicio</a>
                        </li>
                        <!-- Enlace a la pagina de categorias -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Ventanas/Categorias">Categorias</a>
                        </li>
                        <!-- Enlace a la pagina de Fabricantes -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Ventanas/Fabricantes">Fabricantes</a>
                        </li>
                        <!-- Enlace a la pagina de Estados -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Ventanas/Estados">Estados</a>
                        </li>
                        <!-- Enlace a la pagina de Estados -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Ventanas/Productos">Productos</a>
                        </li>
                        <!-- Categorías con Dropdown -->
                        @* <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="dropdownCategorias" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categorías
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownCategorias">
                                <li><a class="dropdown-item" asp-area="" asp-page="Ventanas/Productos">Productos</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="Ventanas/Telefonos">Teléfonos</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="Ventanas/Tabletas">Tabletas</a></li>
                            </ul>
                        </li> *@
                    </ul>
                    @* <!-- Opciones de Usuario -->
                    <ul class="navbar-nav">
                        @if (ViewData.ContainsKey("Logeado"))
                        {
                            <!-- Usuario autenticado -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cuenta/Profile">Perfil</a>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-page="/Cuenta/Logout" class="d-inline">
                                    <button type="submit" class="btn btn-link nav-link text-dark">Cerrar sesión</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <!-- Usuario no autenticado -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cuenta/Login">Iniciar sesión</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cuenta/Register">Registrarse</a>
                            </li>
                        }
                    </ul> *@
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - asp_presentacion - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>